* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    background-image: url("../images/backgroundWoodSlab.jpeg");
    background-size: cover;
    font-size: 16px;
    justify-content: space-between;
}

h1 {
    text-align: center;
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 0 0 .75rem 0;
    font-size: 2rem;
    border-bottom: solid #eeece6 .1rem;
}

h2 {
    font-size: 1.25rem;
    flex: none;
    font-weight: bold;
    padding: 0 0 .5rem 0;
}

.center {
    text-align: center;
}

#gameContainer {
    flex: 1;
    text-align: center;
    background-color: rgba(43,41,38,.85);
    color: #eeece6;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 3rem;
    width: 80%;
}

#showTime {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.25rem;
    width: 100%;
}

#questionContainer {
    display: flex;
    line-height: 2rem;
    justify-content: center;
}

#questionText {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    min-width: 40%;
}

#questionImageHolder img {
    padding: 0 0 0 2rem;
    max-width: 100%;
    max-height: 400px;
}

#possibleAnswers {
    display: flex;
    flex-direction: column;
    margin: 0 2rem .5rem 2rem;
    font-size: 1.25rem;
}

.answer {
    cursor: pointer;
}

.answer input {
    margin-right: .75rem
}

footer {
    flex: none;
    text-align: center;
    color: #eeece6;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 0 2rem 2rem 2rem;
}

button {
    margin: 1.25rem auto 0 auto;
    background-color: #eeece6;
    border: none;
    padding: .5rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    border-radius: .75rem;
    font-weight: bold;
    color: rgba(43,41,38,1);
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

.noDisplay {
    display: none;
}